# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/OpenGL_reference.ilk
Debug/OpenGL_reference.log
Debug/OpenGL_reference.pdb
Debug/OpenGL_reference.vcxproj.FileListAbsolute.txt
Debug/vc142.idb
Debug/vc142.pdb
Debug/OpenGL_reference.tlog/CL.command.1.tlog
Debug/OpenGL_reference.tlog/CL.read.1.tlog
Debug/OpenGL_reference.tlog/CL.write.1.tlog
Debug/OpenGL_reference.tlog/link.command.1.tlog
Debug/OpenGL_reference.tlog/link.read.1.tlog
Debug/OpenGL_reference.tlog/link.write.1.tlog
Debug/OpenGL_reference.tlog/OpenGL_reference.lastbuildstate
OpenGL_reference.sln
OpenGL_reference.vcxproj
OpenGL_reference.vcxproj.filters
OpenGL_reference.vcxproj.user
.vs/OpenGL_reference/v16/.suo
.vs/OpenGL_reference/v16/Browse.VC.db
.vs/OpenGL_reference/v16/Browse.VC.db-shm
.vs/OpenGL_reference/v16/Browse.VC.db-wal
.vs/OpenGL_reference/v16/Browse.VC.opendb
.vs/OpenGL_reference/v16/ipch/AutoPCH/3e75847cbb499beb/APPLICATION.ipch
Debug/OpenGL_reference.exe.recipe
.vs/OpenGL_reference/v16/ipch/AutoPCH/e19eb495f6bf211f/APPLICATION.ipch
